body{
    font-family:'Open Sans',sans-serif;
    background-image: url(image.png);
    background-size: cover;
    background-attachment: fixed;
}
#initialMsg{
    text-align: center;
    margin-top:25%;
    font-size:30px;
}
#weatherDiv{
    color:#000;
    max-width:400px;
    min-width:200px;
    margin:auto;
    margin-top:20px;
    min-height:400px;
    opacity: 0.5;
    margin-bottom: 15px;
}
#weatherDiv>div{display: block;}
#contentDiv,#detailsDiv{
    padding:5px 5px 5px 10px;
}
#contentDiv{
    
}
#headerDiv{
    text-align: center;
    font-family: 'Julius Sans One',cursive;
    padding:10px;
}
#tempDiv{
    font-size:30px;
}
#tempDiv>div{
    display: inline-block;
}
#cityDiv{
    
}
#dateDiv{
    font-size:15px;
}
#iconDiv{
    height:200px;
    text-align: center;
}
#icon{
    font-size:80px;
}
#status{
    font-size:30px;
}
a{
    color:#3a2;
    font-weight: bold;
}
a:hover{text-decoration: none;color:darkblue;}
a:focus,a:visited{color:#3a2;text-decoration: none;}
#detailsDiv{
    
    bottom:0;
    font-size:20px;
    font-weight: bold;
}
#detailsDiv>div{
    display:block;
}
#detailsHeader{
    
}
#detailsHeader>h4{font-weight: bold;}
#detailsHeader>h4:hover{
    cursor: pointer;
}
#details>div{display: block;}
#details i{width:25px;}
div.parent>div{
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
}
div.child2{
    float:right;
}
@media only screen and (max-width:767px){
    
}
